body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
hr{
    width:500px;
}
#errors{
    color:coral;
}
#board{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width:40px;
    height: 40px;
    border: 1px solid lightgrey;
    /* //for font */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digits{
    width:400px;
    height:50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.number{
    width:40px;
    height: 40px;
    border: 1px solid black;
    margin:1px;
    /* //for font */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.number-selected{
    background-color: grey;
}
.tile-start{
    background-color: whitesmoke;
}
.horizontal-line{
    border-bottom: 1px solid black;
}
.vertical-line{
    border-right: 1px solid black;
}

